html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --font-logo: "Raleway", sans-sarif;
  --font-text: "Roboto", sans-sarif;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--font-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Утилиты */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/* Стиль хедер */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}
/* Стилизация logo */
.logo {
  font-family: var(--font-logo);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-blue {
  color: var(--accent-color);
}
.logo-black {
  color: #000000;
}

/* Main-nav */
.main-nav {
  display: flex;
  align-items: center;
}

/* Site nav */
.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav .item + .item {
  margin-left: 40px;
}

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Cтилизация контактов в хедере */
.header-contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts .link + .link {
  margin-left: 30px;
}

/* Стилизация Footer */
.page-footer {
  background-color: #2f303a;
}
.footer-part {
  display: flex;
  align-items: baseline;
  padding-top: 45px;
  min-height: 193px;
}
.studio > .logo {
  margin-bottom: 8px;
  display: block;
}
.logo-white {
  color: var(--primary-white-color);
}
.address {
  display: flex;
  flex-direction: column;
  color: var(--primary-white-color);
  font-style: normal;
  margin-right: 69px;
}

.address p {
  margin-top: 0;
  margin-bottom: 9px;
}
.address .contacts {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* Соц сети */
.socials {
  display: block;
  margin-right: 94px;
}
.socials .title,
.mailing .title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.social-list {
  display: flex;
  align-items: center;
}
.social-icon:not(:last-child) {
  margin-right: 10px;
}
.socials .link {
  color: var(--primary-white-color);
}
.socials .link:hover,
.socials .link:focus {
  color: var(--accent-color);
}

/* Рассылка */
.mailing {
}

/* Авторсие права */
.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
